<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}ITS-assistant!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ITS-assistant</title>
        <!-- Bootstrap -->
        {% stylesheets
            'bundles/app/bower_components/bootstrap/dist/css/bootstrap.min.css'
            '@AppBundle/Resources/mycss/AnimatedBorderMenu/*'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% javascripts '@AppBundle/Resources/myjs/AnimatedBorderMenu/modernizr.custom.js'%}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        {% block stylesheets %}{% endblock %}
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <nav id="bt-menu" class="bt-menu">
            <a href="#" class="bt-menu-trigger"><span>Menu</span></a>
            <ul id="open-app-button">
                <li><a href="" class="fa fa-calculator fa-3x" id="open-ip-calc"  title="IP-калькулятор"></a></li>
                <li><a href="" class="fa fa-file-text-o fa-3x" id="open-master-report" title="Мастер-отчетов"></a></li>
                <li><a href="" class="fa fa-sitemap fa-3x" id="open-card-carno" title="Карты Карно"></a></li>
                <li><a href="" class="fa fa-anchor fa-3x" id="open-diagram" title="Диаграма Вольпера-Смитта"></a></li>
            </ul>
            <ul>
                <li><a href="#" class="fa fa-refresh" title="Обновить"></a></li>
                <li><a href="#" class="fa fa-comment" title="Обратная связь"></a></li>

                {#<li><a href="#" class="fa fa-vk fa-3x">VK</a></li>#}
                {#<li><a href="#" class="fa fa-facebook fa-3x">Facebook</a></li>#}
                {#<li><a href="#" class="fa fa-google-plus fa-3x">Google+</a></li>#}
            </ul>
        </nav>
        {% block body %}{% endblock %}
        {% javascripts
            'bundles/app/bower_components/jquery/dist/jquery.min.js'
            'bundles/app/bower_components/bootstrap/dist/js/bootstrap.min.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts
            '@AppBundle/Resources/myjs/AnimatedBorderMenu/classie.js'
            '@AppBundle/Resources/myjs/AnimatedBorderMenu/borderMenu.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts %}{% endblock %}
        <script src="js/classie.js"></script>
        <script src="js/borderMenu.js"></script>
    </body>
</html>
