<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}ITS-assistant!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ITS-assistant</title>
        <!-- Bootstrap -->
        {% stylesheets
            '@bootstrap_css'
            'mycss/AnimatedBorderMenu/*'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% javascripts 'myjs/AnimatedBorderMenu/modernizr.custom.js'%}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        {% block stylesheets %}{% endblock %}
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        {% block body %}{% endblock %}
        {% javascripts
            '@jquery'
            '@bootstrap_js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts
            'myjs/AnimatedBorderMenu/classie.js'
            'myjs/AnimatedBorderMenu/borderMenu.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
