{% extends 'base.html.twig' %}
{% block stylesheets %}
    {% stylesheets 'mycss/AnimatedBorderMenu/*' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets 'mycss/*' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Comfortaa&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    {% endstylesheets %}
    {% javascripts 'myjs/AnimatedBorderMenu/modernizr.custom.js'%}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block body %}
    {% if authorization is defined  %}
        <nav id="bt-menu" class="bt-menu">
        <a href="#" class="bt-menu-trigger" title="Меню"><span>Menu</span></a>
        <a href="{{ path('registration') }}" class="fa fa-user-plus fa-3x" style="font-size: 3.3em;" title="Регистрация"><span></span></a>
        <a href="{{ path('login') }}" class="fa fa-sign-in fa-4x" title="Войти"><span></span></a>
        <ul id="open-app-button">
            <li><a href="" class="fa fa-calculator fa-3x" id="open-ip-calc"  title="IP-калькулятор"></a></li>
            <li><a href="" class="fa fa-file-text-o fa-3x" id="open-master-report" title="Мастер-отчетов"></a></li>
            <li><a href="" class="fa fa-sitemap fa-3x" id="open-card-carno" title="Карты Карно"></a></li>
            <li><a href="" class="fa fa-anchor fa-3x" id="open-diagram" title="Диаграма Вольпера-Смитта"></a></li>
        </ul>
        <ul>
            <li><a href="#" class="fa fa-refresh" title="Обновить"></a></li>
            <li><a href="#" class="fa fa-comment" title="Обратная связь"></a></li>

            {#<li><a href="#" class="fa fa-vk fa-3x">VK</a></li>#}
            {#<li><a href="#" class="fa fa-facebook fa-3x">Facebook</a></li>#}
            {#<li><a href="#" class="fa fa-google-plus fa-3x">Google+</a></li>#}
        </ul>
    </nav>
    {% endif %}
    <div class="container-fluid">
        <div class="row text-center">
            <h1 id="name-app">ITS-assistant</h1>
        </div>
        <div class="row text-center" id="div-auth-reg">
            <button href="{{ path('login') }}" class="btn-success btn" id="login-button">
                <i class="fa fa-sign-in fa-lg"></i>
                <span>Войти</span>
            </button>
            <button class="btn btn-warning" id="registration-button">
                <i class="fa fa-user-plus fa-lg"></i>
                <span>Регистрация</span>
            </button>
        </div>
    </div>
    <footer class="text-center">
        <div id="social-network">
            <span class="fa-stack fa-lg">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-vk fa-stack-1x"></i>
            </span>
            <span class="fa-stack fa-lg">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x"></i>
            </span>
            <span class="fa-stack fa-lg">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-google-plus fa-stack-1x"></i>
            </span>
        </div>
        <div class="contacts-author">
            <address>
                <strong>Email</strong><br>
                <a href="mailto:#">hilobaks@outlook.com</a>
            </address>
        </div>
    </footer>
    {% include(':default:modal-login.html.twig') %}
    {% include(':default:modal-registration.html.twig') %}
    {% include(':default:temp-modal-window.html.twig') %}
{% endblock %}
{% block javascripts %}
    {% javascripts
        'myjs/detect-browser.js'
        'myjs/cross-event.js'
        'myjs/useCross.js'
        'myjs/AnimatedBorderMenu/classie.js'
        'myjs/AnimatedBorderMenu/borderMenu.js'
        'myjs/registration-autorization.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

